<footer id="footer" class="footer" role="contentinfo">
  <div class="inner">
    <em>&copy; Ashlie Webb 2016</em>
    <!--<em><a href="{{ site.baseurl }}sitemap.html">Sitemap</a></em>-->
    <!--<em><a href="{{ site.baseurl }}privacy.html" id="link__footer&#45;&#45;privacy">Privacy</a></em>-->
    <!--<em><a href="{{ site.baseurl }}style-guide/">Style guide</a></em> -->
    <em><a href="{{ site.baseurl }}resume.html">Resum&eacute;</a></em>
    <nav class="nav-footer">
      <ul>
        <li>{% include icons/twitter.html %}</li>
        <li>{% include icons/linkedin.html %}</li>
        <li>{% include icons/github.html %}</li>
        <li>{% include icons/instagram.html %}</li>
      </ul>
    </nav>
  </div>
</footer>