<header class="header" role="header">
  <div class="inner">
    <div class="logo">
      <a href="/" title="Ashlie Webb, UX designer and front end developer">
        <object data="{{ "assets/images/svg/logo.svg" | prepend: site.baseurl }}" type="image/svg+xml" class="logo-svg"></object>
      </a>
    </div>
    <nav class="nav-primary" role="navigation">
      <ul>
        <li class="first"><a href="/portfolio.html" title="Portfolio">Portfolio</a></li>
        <li><a href="http://ashliewebb.tumblr.com" title="Read blog on Tumblr">Blog</a></li>
        <li><a href="/about.html" title="About">About</a></li>
        <li class="last"><a href="/contact.html" title="Contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>